config BATT_VERIFY_BY_DS28E16
	bool
	prompt "Support ds28e16 as encryption IC."
	default n
	help
		It needs a onewire physical controller to work.

config DS28E16_CYCLE_PAGE1
	bool
	prompt "Store battery cycle count in DS28E16 Page 1"
	depends on BATT_VERIFY_BY_DS28E16
	default n
	help
		Store battery cycle count in Page 1 EEPROM instead of Page 2 decrement counter.

config ONEWIRE_GPIO
	bool
	prompt "Support Onewire Driver."
	default n
	help
		It's an onewire driver.
